body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #abc2d3;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {
	border-spacing: 1;
	border-collapse: collapse;
	border-radius: 6px;
	overflow: hidden;
    color: black;
    width: 90vw;
}

thead tr {
	height: 32px;
	background: #fafafa;
	font-size: 12px;
}
thead tr th {
    padding: 8px;
}
thead tr {
    user-select: none;
}

tbody tr {
	height: 24px;
	border-bottom: 1px solid #eaeaea;
}
td {
    background: white;
	padding: 12px;
    border: 1px solid #eaeaea;
    text-align: center;
}
td > button, .refresh {
	color: white;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	border: none;
	cursor: pointer;
	background: #163a83;
	transition: 0.3s ease-in-out;
	user-select: none;
}
td > button:hover, .refresh:hover {
	background: #0E1C36;
}
.ss-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: center; 
}

.ss-container img {
    width: 80vw;
    height: 80vh;
    object-fit: contain;
}

.close {
    width: 20vw;
    height: 40px;
    background: rgb(133, 44, 44);
    border: none;
    cursor: pointer;
    padding: 0; 
    margin-top: 10px; 
	transition: 0.3s ease-in-out;
	user-select: none;
	border-radius: 4px;
}
.close:hover {
	background: rgb(102, 33, 33);
}

.close h2 {
    margin: 0; 
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 16px;
    line-height: 40px; 
}
.hidden {
	display: none !important;
}
.cli {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: center; 
}
#cli-container {
    background-color: #000;
    color: rgb(204, 204, 204);
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    height: 80%;
    max-width: 80%;
    max-height: 80%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.input-line {
    display: flex;
}

#cli-prefix {
    margin-right: 10px;
}

#cli-input {
    background-color: #000;
    color: rgb(204, 204, 204);
    border: none;
    flex: 1;
    outline: none;
}
#output {
    white-space: pre-wrap;
}

.refresh {
    margin-top: 20px;
    font-size: 18px;
}